//- 优惠券列表;
each item, index in list
    //- landingType：落地类型（0=无，1=指定商品ID,2=指定类目ID，3=h5页面）
    - var landingLink = item.landingDetail;
    case item.landingType
        when 0
            - landingLink = 'javascript:;';
        when 1
            - landingLink = '/goods#/detail/inlet=6&templateId=' + item.landingDetail;
        when 2
            - landingLink = '/goods#/list/entry=1&categoryId='+ item.landingDetail;
        when 3
            - landingLink = item.landingDetail;

    if request.status == 4
        - landingLink = 'javascript:;';

    .item(class={
        'link': !!item.landingDetail,
        'style-3': request.status == 4,
        'style-0': request.status == 1
    })

        a.content(href= landingLink)
            dl
                dt
                    span ￥
                    | #{item.denominationAmount}
                dd 满#{item.consumptionAmount}元可用

            if request.status == 1
                p.u-arrow #{item.landingDesc}

        .info
            dl
                dt 适用：
                dd #{item.scopeDes}
            time #{item.effectiveStartTimeFormat}-#{item.effectiveEndTimeFormat}

