//- 商品列表;
include ../includes/let.pug
if rows && rows.length
    each item in rows
        li
            -var href = '/goods/detail/?inlet='+ (inlet || 6) +'&templateId=' + item.templateId + '&itemId=' + (item.itemNumId || item.itemId);
            -if(extra) href += extra;
            a(href=href)
                .pic
                    img(data-original=item.goodsPic + itemPngSize, src=placeholderPic + itemPngSize, alt=item.itemName)
                    //- topRightTag，枚举：0不显示 1 赠 2 券
                    case item.topRightTag
                        when 1
                            sup 赠
                        when 2
                            sub 劵
                .info
                    h3 #{item.itemName}
                    .tools
                        strong ￥#{item.price}
                        //- (1,"直降促销"),(3,"满赠促销"),(4,"组合促销"),(5,"满减促销"),(6,"赠品促销"),(7,"多买促销"),(-99,"促销类型错误");
                        //- 促销标签展示的优先级为：套餐，凑单，满减，直降
                        if item.proTag && item.proTag.length
                            - var tagType, proTags = item.proTag, sortTags = [4,7,5,1];
                            - for(var i = 0;i< sortTags.length; i++){if(inArray(sortTags[i],proTags)!=-1){tagType= sortTags[i];break;}}

                            case tagType
                                when 1
                                    em 直降
                                when 3
                                    //- em 满赠
                                when 4
                                    em 套餐
                                when 5
                                    em 满减
                                when 6
                                    //- em 赠品
                                when 7
                                    em 凑单

                    .sales(class={"vi-hidden": !item.totalSale}) 已售#{item.totalSale}件