//- 商品评论列表;
include ../includes/let.pug
if rows && rows.length
    each item in rows
        .item
            //- 评价用户信息
            .header
                .user
                    .pic
                        img(src=item.headPic ? item.headPic + '@200w_100q.jpg' : defaultAvatar, alt=item.name)
                    dl
                        dt #{item.name}
                        dd #{item.babyAge}
                .value
                    sub(class='star-'+ item.star)
                        sup
                    time #{item.commentTime}
            //- 评价内容
            .content
                article
                    | #{item.commentContent}
                // 商品图片
                if item.pics && item.pics.length
                    ul.pic.js-comment-pic(data-json=item.pics)
                        each pic in item.pics
                            li
                                img(src= pic ? pic + '@100w_100h_100q.jpg' : placeholderPic, data-pic=pic)
                //- 回复
                if item.shopReplyContent
                    .reply 门店回复：#{item.shopReplyContent}

                //- 购买款式
                dl.buy
                    dt 已购买该商品
                //-
                    dd
                        span 浅色
                        span S码