//- 订单列表
each order, index in rows
    .item.js-order-detail(class=order.orderStatus == 3?'wait':'',data-id=order.orderNo, url='#/order/detail/' + order.orderNo + '/' + (request.queryType ? request.queryType : ''))
        dl.header.flex-center
            dt.flex
                if order.shopName
                    | #{order.shopName}
                else if order.warehouseId
                    | #{order.warehouseName}
                else
                    | 妈妈好平台
                if order.deliveryId == 1
                    em (门店配送)
                else if order.deliveryId == 2
                    em (到店自提)
                if order.shopName
                    span 集团自营
            case order.orderStatus
                when 0
                    dd 已完成
                when 1
                    dd 已失效
                when 2
                    dd 已取消
                when 3
                    if order.remainMinutes <= 0
                        dd 已失效
                    else
                        dd 待付款
                when 4
                    dd 待发货
                when 5
                    dd 待收货
                when 6
                    dd 待评价
                when 8
                    dd 已删除
                when 9
                    dd 退款退货
        .content.flex-center(class={ditto: order.goodsList.length > 1})
            ul.pic
                - for(var i=0; i < order.goodsList.length ; i++)
                    if i >= 3
                        - break;
                    li
                        img(src=order.goodsList[i].itemPic + '@1e_400w_400h_0c_0i_0o_100q_1x.jpg')
            if(order.goodsList.length === 1)
                each goods in order.goodsList
                    dl
                        dt #{goods.itemName}
                        dd
                            each sp, i in goods.spec
                                if i > 0
                                    | ,
                                | #{sp.value}

            .u-arrow.right.number 共#{order.itemCount}件

        .footer.flex-center
            dl.flex
                if (order.orderStatus == 0 || order.orderStatus == 6) && order.dealingType == 2
                    dt 实付：￥#{order.payPrice}
                else
                    dt 应付：￥#{order.payPrice}
                if(order.orderStatus === 3)
                    dd.js-countdown(data-seconds=order.remainMinutes,data-page-type=1)
                        time.minute 15
                        | 分
                        time.second 00
                        | 秒后订单失效
            ul.js-option
                case order.orderStatus
                    when 0
                        if(order.allowBuy)
                            li
                                a.u-btn.checked(href='#/order/rebuy/' + order.orderNo + '/' + (request.queryType ? request.queryType : '')) 再次购买
                    when 1
                        li
                            button.u-btn.js-btn-del(data-id=order.orderNo) 删除订单
                    when 2
                        li
                            button.u-btn.js-btn-del(data-id=order.orderNo) 删除订单
                    when 3
                        if order.remainMinutes <= 0
                            li
                                button.u-btn.ban 已经失效
                        else
                            li
                                button.u-btn.checked.js-topay(data-order-no=order.orderNo) 立即付款
                                //修改appId url
                                //a.u-btn.checked(href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx230909e739bb72fd&redirect_uri=http://api.mamhao.com/mamahao-app-api/pay/weixin/getOpenId.htm?orderNo='+order.orderNo+'&response_type=code&scope=snsapi_base&state=123456#wechat_redirect') 立即付款
                    when 4
                        li
                            if order.deliveryId == 2
                                buttob.u-btn.js-btn-shop(data-shop-id=order.shopId) 门店信息
                            else
                                button.u-btn.js-btn-remind(data-id=order.orderNo) 提醒发货
                    when 5
                        li
                            if(order.deliveryId == 1)
                                buttob.u-btn.js-btn-delivery(data-shop-id=order.shopId) 配送信息
                            else if(order.deliveryId == 2)
                                buttob.u-btn.js-btn-shop(data-shop-id=order.shopId) 门店信息
                            else
                                a.u-btn(href='#/order/express/' + order.orderNo) 查看物流
                        li
                            if(order.dealingType == 2)
                                if order.payLockType
                                    button.u-btn.checked.js-btn-inspect(data-id=order.orderNo) 重新付款
                                else
                                    button.u-btn.checked.js-btn-inspect(data-id=order.orderNo) 验货付款

                            else
                                button.u-btn.checked.js-btn-receive(data-id=order.orderNo) 确认收货
                    when 6
                        li
                            a.u-btn.checked(href='#/order/review/' + order.orderNo) 评价晒单
                            //-
                                if(order.goodsList.length > 1)
                                    a.u-btn.checked(href='#/order/review/' + order.orderNo) 评价晒单
                                else
                                    a.u-btn.checked(href='#/order/reviewDetail/' + order.orderNo) 评价晒单



