include ../includes/let.pug
if rows && rows.length
    .list.pagination
        each item in rows
            .item
                // 评价用户信息
                .header
                    .user
                        .pic
                            img(src= item.memberHeadPic + '@100w_100h_100q.jpg')
                        dl
                            dt #{item.memberNickname}
                            dd #{item.city}
                    .value
                        sub(class='star-'+ item.serviceRating)
                            sup
                        time #{formatDate(item.createTime, "MM月dd日")}
                // 商品评价内容
                if item.goodsList && item.goodsList.length
                    each goods in item.goodsList
                        .goods
                            article
                                | #{goods.content}
                            // 购买款式
                            dl.buy
                                dt 已购买该商品 #{goods.goodCommentTime}
                                dd
                                    p
                                        img(src= goods.itemPic + '@200w_200h_100q.jpg')