if vouchers.length > 0
    each voucher in vouchers
        label.item.js-coupon-item(data-id=voucher.voucherId,data-discount=voucher.voucherAmount)
            .flex-center
                input.u-radio(type='radio',name='coupon',value=voucher.voucherId)
            dl
                dt
                    strong
                        sub ￥
                        | #{voucher.voucherAmount}
                    p #{voucher.title}
                dd
                    p 适用范围：#{voucher.apply}
                    p 有效期至：#{voucher.beginDate}~#{voucher.endDate}