//- 配送方式选择
section.m-pay-courier
    each item in data
        .item.js-item(data-id=item.shopId ? item.shopId : item.warehouseId,data-type=item.shopId ? 1 : 2)
            dl.header.flex-center
                if item.shopId
                    dt.flex #{item.shopName}
                        span 集团自营
                else
                    dt.flex 妈妈好
            if item.goodsList.length > 1
                .content.ditto.flex-box
                    ul.pic
                        each goods in item.goodsList
                            li
                                img(src=goods.itemPic + '@1e_400w_400h_0c_0i_0o_100q_1x.jpg')
                    .number
                        em 共#{item.goodsList.length}件
            else
                - var goods = item.goodsList[0]
                .content.flex-box
                    ul.pic
                        li
                            img(src=goods.itemPic + '@1e_400w_400h_0c_0i_0o_100q_1x.jpg')
                    dl
                        dt #{goods.itemName}
                        dd
                            each sp in goods.spec
                                | #{sp.value}&nbsp;
                    .money
                        strong #{goods.itemPrice}
                            //-del #{goods.oPrice}
                        p x#{goods.quantity}
            .footer
                dl.courier
                    dt 配送方式
                    dd
                        each de in item.delivery
                            button.u-btn.mini.js-btn-delivery(data-type=de.id) #{de.name}

                each de in item.delivery
                    case de.id
                        when 1
                            .tip.js-tips(for=1) 预计将在今天#{de.deliveryTime.arriveTime}前送达
                        when 2
                            .take.js-tips(for=2)
                                strong 自提地点：
                                p #{de.shopInfo.addr}
                                strong 时间：
                                p 工作日：#{de.shopInfo.workTime}<br>节假日：#{de.shopInfo.holiday}
                        when 3
                            .tip.js-tips(for=3) 预计将在今天#{de.deliveryTime.arriveTime}前发货
section.u-footer-button
    ul
        li
            button.u-btn.max.success.alone.js-ok 确定
    .f-space
