//- 结算页
extends ../layouts/layout.pug
block title
    title 订单结算

block content
    include ../includes/let.pug
    include ../includes/mixin.pug
    section.m-pay
        .u-alert
            p 您的订单由最近的自营实体店或仓库发货，因商品所在地不同，您可能会收到多个包裹，请注意查收!
        //- 收货地址
        .u-send
            a.u-arrow.right(href='javascript:;')
                p.add 填写收货地址
                //dl.default
                //    dt
                //        strong 姓名
                //        em 15088660575
                //    dd 浙江省杭州市上城区望江东路332号中豪望江国际1幢9层
        //- 物品信息
        .u-order
            each item in data
                .item
                    .header #{item.warehouseName}
                        em 集团自营
                    each goods in item.goodsList
                        .content
                            .pic
                                img(src=goods.itemPic)
                            figure
                                figcaption #{goods.itemName}
                                p
                                    each sp in goods.spec
                                        | #{sp.value}&nbsp;
                            dl
                                if goods.isGift
                                    dt
                                        sub 赠品
                                else
                                    dt ￥#{formatPrice(goods.itemPrice)}
                                        del ￥#{formatPrice(goods.oPrice)}
                                dd x#{goods.quantity}
        //- 配送
        .courier
            a.u-arrow.right(href='javascript:;')
                strong 配送方式
                em 门店配送
        //- 优惠信息
        .sale
            .header
                a.u-arrow.right(href='javascript:;')
                    strong 优惠劵
                        span 当前订单没有适用的优惠劵
                    em 未使用
            ul
                if useCouponlimit.mbeanMaxLimit > 0
                    li
                        p 可用
                            span #{useCouponlimit.mbeanMaxLimit}
                            input(type='tel', value=useCouponlimit.mbeanMaxLimit)
                            | 妈豆，抵
                            em ￥#{formatPrice(useCouponlimit.mbeanMaxLimit/ratio.mbeanRatio)}
                        label
                            input.u-switch(type='checkbox')
                if useCouponlimit.gbMaxLimit > 0
                    li
                        p 可用
                            span #{useCouponlimit.gbMaxLimit}
                            input(type='tel')
                            | GB积分，抵
                            em ￥#{formatPrice(useCouponlimit.gbMaxLimit/ratio.gbRatio)}
                        label
                            input.u-switch(type='checkbox')
                if useCouponlimit.mcMaxLimit > 0
                    li
                        p 可用
                            span #{useCouponlimit.mcMaxLimit}
                            input(type='tel')
                            | MC积分，抵
                            em ￥#{formatPrice(useCouponlimit.mcMaxLimit/ratio.mcRatio)}
                        label
                            input.u-switch(type='checkbox',chekced='')
        //- 结算金额明细
        ul.total
            each money in price
                li
                    em #{money.name}
                    if money.name=='商品金额'
                        span ￥#{formatPrice(money.price)}
                    else
                        if money.price == 0
                            span 免费
                        else
                            span -￥#{formatPrice(money.price)}
            li
                em 运费
                span
                    if mailPrice == 0
                        | 免运费
                    else
                        | ￥#{mailPrice}

        //- 结算按钮
        .footer
            .field
                p 实付
                    em ￥#{formatPrice(payPrice + mailPrice)}
                button.u-btn.success 去付款
            .f-space
