//- 结算页
block content
    include ../includes/let.pug
    include ../includes/mixin.pug
    if stockOut
        section.m-pay#settlement(data-stockout=(stockOut || 0),data-stockout-goods=(data || []))
    else
        section.m-pay.flex#settlement

            if stockOut

            else
                input(type='hidden',name='orderNo',value=orderNo)
                input(type='hidden',name='deliveryAddrId',value=deliveryAddr ? deliveryAddr.deliveryAddrId : '')
                if notice
                    .u-alert
                        p #{notice}
                //- 收货地址
                .u-send.js-address
                    if deliveryAddr
                        a.u-arrow.right(href='/center#/address/f=1&id=' + deliveryAddr.deliveryAddrId)
                            dl.default
                                dt
                                    strong #{deliveryAddr.consignee}
                                    em #{deliveryAddr.phone}
                                dd #{deliveryAddr.prvName}#{deliveryAddr.cityName}#{deliveryAddr.areaName}#{deliveryAddr.gpsAddr}#{deliveryAddr.addrDetail}
                    else
                        a.u-arrow.right(href='/center#/address/f=1')
                            p.add 填写收货地址
                //- 物流信息
                - var deliveryDesc = '';
                - var deliveryInfo = [];
                .u-order
                    each item, index in data
                        if index >= 1
                            - deliveryDesc += '+'
                        if item.shopId && item.delivery.length > 2
                            - deliveryDesc += '门店配送'
                            - deliveryInfo.push({type:1,sid:item.shopId,deliveryWay:1})
                        else
                            - deliveryDesc += '快递配送'
                            - deliveryInfo.push({type:item.warehouseId?2:1,sid:item.warehouseId || item.shopId,deliveryWay:3})

                    each item in data
                        .item
                            if item.shopId
                                .header #{item.shopName}
                                    em 集团自营
                            else
                                .header #{item.warehouseName}
                            each goods in item.goodsList
                                .content
                                    .pic
                                        img(src=goods.itemPic)
                                    figure
                                        figcaption #{goods.itemName}
                                        p
                                            each sp, index in goods.spec
                                                if index > 0
                                                    | ,
                                                | #{sp.value}
                                    dl
                                        if goods.isGift
                                            dt
                                                sub 赠品
                                        else
                                            dt ￥#{goods.itemPrice}
                                                if(goods.itemPrice < goods.oPrice)
                                                    del ￥#{goods.oPrice}
                                        dd x#{goods.quantity}
                //- 配送
                .courier
                    //-a.u-arrow.right(href='#/delivery/' + (deliveryAddr ? deliveryAddr.deliveryAddrId : ''))
                    a.u-arrow.right.js-delivery(data-delivery=deliveryInfo,href='javascript:;')
                        strong 配送方式
                        em #{deliveryDesc}
                //- 优惠信息
                .sale
                    if inlet == 4
                        // 妈豆尊享商品没有优惠券
                    else
                        .header
                            if coupon
                                - var voucherIds = [];
                                each voucher, index in coupon.discountList
                                    - voucherIds.push(voucher.voucherId);
                                - voucherIds = voucherIds.join(',');
                                a.u-arrow.right.js-coupon(href='javascript:;')
                                    strong 优惠劵
                                    em.js-vouchers(data-ids=voucherIds,data-discount=coupon.discount) 省#{coupon.discount}元
                            else
                                a.right(href='javascript:;')
                                    strong 优惠劵
                                        span 当前订单没有适用的优惠劵

                            //em 未使用

                    if inlet == 4
                        // 妈豆尊享商品没有优惠券
                        ul.noborder.js-point(data-total-discount=useCouponlimit.maxReducePrice)
                            if (coupon && useCouponlimit.mbeanMaxLimit > 0) || (!coupon && limit.mbeanMaxLimit > 0)
                                li#mbean
                                    p 使用
                                        span #{limit.mbeanMaxLimit}
                                        input(type='tel', name='mbean',value=limit.mbeanMaxLimit, data-max=limit.mbeanMaxLimit, data-ratio=ratio.mbeanRatio)
                                        | 妈豆，抵
                                        em ￥#{limit.mbeanMaxLimit / ratio.mbeanRatio}
                                    label
                                        input.u-switch.disabled(type='checkbox', checked='checked', disabled)
                    else
                        ul.js-point(data-total-discount=useCouponlimit.maxReducePrice)
                            if (coupon && useCouponlimit.mbeanMaxLimit > 0) || (!coupon && limit.mbeanMaxLimit > 0)
                                li#mbean
                                    p 可用
                                        span #{useCouponlimit.mbeanMaxLimit}
                                        input(type='tel', name='mbean',value=useCouponlimit.mbeanMaxLimit, data-max=limit.mbeanMaxLimit, data-ratio=ratio.mbeanRatio)
                                        | 妈豆，抵
                                        em ￥#{useCouponlimit.mbeanMaxLimit / ratio.mbeanRatio}
                                    label
                                        input.u-switch(type='checkbox')
                            if useCouponlimit.gbMaxLimit > 0
                                li#gbPoint
                                    p 可用
                                        span #{useCouponlimit.gbMaxLimit}
                                        input(type='tel', name='gbCount',value=useCouponlimit.gbMaxLimit, data-max=limit.gbMaxLimit, data-ratio=ratio.gbRatio)
                                        | GB积分，抵
                                        em ￥#{useCouponlimit.gbMaxLimit / ratio.gbRatio}
                                    label
                                        input.u-switch(type='checkbox')
                            if useCouponlimit.mcMaxLimit == 0
                                li#mcPoint
                                    p 可用
                                        - //var mcMax = ~~(limit.mcMaxLimit/100)*100
                                        - //var mcUseable = ~~(useCouponlimit.mcMaxLimit/100)*100
                                        - var mcMax = 200
                                        - var mcUseable = 200
                                        span #{mcUseable}
                                        input(type='tel', name='mcCount', value=mcUseable, data-max=mcMax, data-ratio=ratio.mcRatio)
                                        | MC积分，抵
                                        em ￥#{mcUseable / ratio.mcRatio}
                                    label
                                        input.u-switch(type='checkbox',chekced='')
                //- 结算金额明细
                ul.total
                    each money in price
                        li
                            em #{money.name}
                            if money.name == '商品金额'
                                span ￥#{money.price}
                            else
                                if money.price == 0
                                    span 免费
                                else
                                    span ￥#{money.price}
                    li#deliveryFee(data-fee=mailPrice)
                        em 运费
                        span
                            if mailPrice == 0
                                | 免运费
                            else
                                | ￥#{mailPrice}

        //- 结算按钮
        .m-pay-footer
            .field
                if stockOut
                    button.u-btn.success.ban 去付款
                else
                    input(type='hidden',name='payPrice',value=payPrice)
                    input(type='hidden',name='mailPrice',value=mailPrice)
                    p 实付
                        em.js-finalPrice ￥#{payPrice + mailPrice}
                    button.u-btn.success.js-pay 去付款
    unless stockOut
        // 配送方式选择弹出层
        section.u-fixed.bottom.m-pay-courier#delivery-ways
            .mask
            .content
                each item in data
                    .item.js-delivery-item(data-id=item.shopId ? item.shopId : item.warehouseId,data-type=item.shopId ? 1 : 2)
                        dl.header.flex-center
                            if item.shopId
                                dt.flex #{item.shopName}
                                    span 集团自营
                            else
                                dt.flex 妈妈好
                        if item.goodsList.length > 1
                            .content.ditto.flex-box
                                ul.pic
                                    each goods,index in item.goodsList
                                        if index < 3
                                            li
                                                img(src=goods.itemPic + '@1e_400w_400h_0c_0i_0o_100q_1x.jpg')
                                .number
                                    em 共#{item.goodsList.length}件
                        else
                            - var goods = item.goodsList[0]
                            .content.flex-box
                                ul.pic
                                    li
                                        img(src=goods.itemPic + '@1e_400w_400h_0c_0i_0o_100q_1x.jpg')
                                dl
                                    dt #{goods.itemName}
                                    dd
                                        each sp, index in goods.spec
                                            if index > 0
                                                | ,
                                            | #{sp.value}
                                .money
                                    strong #{goods.itemPrice}
                                        //-del #{goods.oPrice}
                                    p x#{goods.quantity}
                        .footer
                            dl.courier
                                dt 配送方式
                                dd
                                    each de in item.delivery
                                        if (item.shopId && (de.id == 1 || item.delivery.length == 2 && de.id == 3)) || !item.shopId
                                            button.u-btn.mini.js-btn-delivery.checked(data-type=de.id) #{de.name}
                                        else
                                            button.u-btn.mini.js-btn-delivery(data-type=de.id) #{de.name}

                            each de in item.delivery
                                if de.deliveryTime
                                    - var dayDesc = de.deliveryTime.arriveType == 0?'今天':'次日'
                                case de.id
                                    when 1
                                        if item.shopId
                                            .tip.js-tips(for=1) 预计将在#{dayDesc}#{de.deliveryTime.arriveTime}前送达
                                        else
                                            .tip.js-tips(for=1,style='display:none') 预计将在#{dayDesc}#{de.deliveryTime.arriveTime}前送达
                                    when 2
                                        .take.js-tips(for=2,style='display:none')
                                            strong 自提地点：
                                            p #{de.shopInfo.addr}
                                            strong 时间：
                                            p 工作日：#{de.shopInfo.workTime}<br>节假日：#{de.shopInfo.holiday}
                                    when 3
                                        if item.shopId
                                            .tip.js-tips(for=3,style='display:none') 预计将在#{dayDesc}#{de.deliveryTime.arriveTime}前发货
                                        else
                                            .tip.js-tips(for=3) 预计将在#{dayDesc}#{de.deliveryTime.arriveTime}前发货
                section.u-footer-button
                    ul
                        li
                            button.u-btn.max.alone.js-cancel 取消
                        li
                            button.u-btn.max.success.alone.js-ok 确定
                    .f-space
    unless stockOut
        if coupon
            // 优惠券选择弹出层
            section.u-fixed.bottom.m-pay-coupon#coupon
                .mask
                .content
                    h3 选择优惠券
                    .list
                        label.item.js-coupon-item(data-id=coupon.discountList[0].voucherId,data-discount=coupon.discount)
                            .flex-center
                                input.u-radio(type='radio',name='coupon',checked='checked',value=coupon.discountList[0].voucherId)
                            dl
                                dt
                                    span 省#{coupon.discount}元
                                    p
                                        em 推荐
                                dd
                                    p #{coupon.discountList[0].voucherDes}
                        .more-coupon
                        //label.item
                            .flex-center
                                input.u-radio(type='radio',name='coupon')
                            dl
                                dt
                                    strong
                                        sub ￥
                                        | 20
                                    p 满300元可用
                                dd
                                    p 适用范围：全场通用优惠劵
                        label.item.js-coupon-item
                            .flex-center
                                input.u-radio(type='radio',name='coupon')
                            .not 不使用优惠券

                    .footer
                        button.u-btn.success.max.alone.js-cancel 关闭