//- 筛选 entry 0:品牌 1:分类
section.m-filter.flex
    unless params.entry === '0'
        .item.brands#brands(data-field='brandIds')
            .title
                strong 品牌
                .more.u-arrow.bottom.js-collapse 全部展开
            .content
                ul
                    each brand, index in brands
                        li(class={hide: index > 5},data-id=brand.bId)
                            dl
                                dd
                                    img(src=brand.bLogo)
                                dt #{brand.bName}

    .item.ages#ages(data-field='ages')
        .title
            strong 年龄
            .more.u-arrow.bottom.js-collapse 全部展开
        .content
            ol
                - var hash = {"-1-0":"孕妈咪","0-3":"0-3月","3-6":"3-6月","6-12":"6-12月","12-36":"1-3岁","36-84":"3-7岁","84-":"7岁以上"};
                each age, index in ages
                    li(class={hide: index > 5},data-id=age)
                        em #{hash[age]}

    unless params.entry === '1'
        .item.types#types(data-field='categoryId')
            .title
                strong 类目
                .more.u-arrow.bottom.js-collapse 全部展开
            .content
                ol
                    each type,index in types
                        li(class={hide: index > 5},data-id=type.typeId)
                            em #{type.typeName}


section.u-footer-button
    ul
        li
            button.u-btn.max.success.alone.js-filter 确定
