section.m-address.flex-column
    .flex
        ul.list
            if rows && rows.length
                each item, index in rows
                    li(class={default : item.isDefault == true})
                        dl
                            dt
                                strong #{item.consignee}
                                em #{item.phone}
                            dd #{item.prv}#{item.city}#{item.area}#{item.gpsAddr}#{item.addrDetail}
                        a.edit(href='#/address/edit/#{item.deliveryAddrId}') 编辑

    section.u-footer-button
        ul
            li
                a.u-btn.max.success.alone(href='#/address/add') + 新增收货地址
        .f-space