link(rel='stylesheet', href='css/center.css')
header
    .profile
        .avatar
            img(src='#{avatar}')
        .info
            span.name #{nickName}
        .details

section.orders
    h3 全部订单
    dl
        dd
            .title 待付款
        dd
            .title 待发货
        dd
            .title 待收货
        dd
            .title 待评价
        dd
            .title 退换货


section.wallet
    h3 我的钱包
    dl
        dd
            a(href='#/beans')
                .count #{wallet.beans}
                .title 麻豆
        dd
            .count #{wallet.coupons}
            .title 优惠券
        dd
            a(href='#/integral/:0')
                .count #{wallet.gb}
                .title GB积分
        dd
            a(href='#/integral/:1')
                .count #{wallet.mc}
                .title MC积分


section
    ul
        li
            a 收藏
        li
            a(href='#/address') 收货地址
        li
            a 联系客服
        li
            a 意见反馈




section
    ul
        li
            a 云店
        li
            a 微推广

section
    ul
        li
            a 关于妈妈好

include ../../includes/mixin
+footer_nav('account')