//暂时弃用，请保留
style.
    .m-center header {
        padding: 2em 1em;
        background: url(http://s.mamhao.cn/wei/v3/images/bg-user.jpg) no-repeat;
        background-size: cover;
        -webkit-background-size: cover
    }

    .m-center .orders dl, .m-center .profile, .m-center .wallet dl, .m-center section h3, .m-center section ul li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .m-center section h3, section ul li {
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-align: center
    }

    .m-center .orders dd, .m-center .profile .info, .m-center .wallet dd, .m-center section ul li a {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .m-center .profile {
        color: #fff;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-align: center
    }

    .m-center .profile .avatar {
        overflow: hidden;
        margin-right: .6em;
        width: 48px;
        height: 48px;
        border: 2px solid rgba(255, 255, 255, .4);
        border-radius: 50%
    }

    .m-center .profile .details {
        width: 8px;
        height: 8px;
        border: 1px solid rgba(255, 255, 255, .4);
        border-top: 0;
        border-left: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    .m-center section {
        margin-bottom: .8em;
        background: #fff;
        font-size: 12px
    }

    .m-center section h3 {
        position: relative;
        padding: 5px;
        border-bottom: 1px solid #f0f0f0
    }

    .m-center section dl dd {
        padding: .8em .5em
    }

    .m-center section h3:before, section ul li:before {
        display: inline-block;
        margin: 0 .5em;
        width: 20px;
        height: 20px;
        background: rgba(255, 77, 97, .8);
        content: ''
    }

    .m-center section ul li a {
        position: relative;
        padding: .6em 0;
        border-bottom: 1px solid #f0f0f0
    }

    .m-center section ul li:last-child a {
        border: 0
    }

    .m-center section h3:after, section ul li a:after {
        position: absolute;
        top: 50%;
        right: 10px;
        display: inline-block;
        margin-top: -4px;
        width: 6px;
        height: 6px;
        border: 1px solid #ccc;
        border-top: 0;
        border-left: 0;
        content: '';
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    .m-center .orders dd, .wallet dd {
        text-align: center
    }

    .m-center .orders dd .title, .wallet dd .title {
        margin-top: .2em
    }

    .m-center .orders dd:before {
        display: block;
        margin: 0 auto;
        width: 20px;
        height: 20px;
        background: rgba(255, 77, 97, .8);
        content: ''
    }

    .m-center .wallet dd .count {
        color: #333
    }

.m-center
    header
        .profile
            .avatar
                img(src=avatar)
            .info
                span.name #{nickName}
            .details

    section.orders
        h3 全部订单
        dl
            dd
                .title 待付款
            dd
                .title 待发货
            dd
                .title 待收货
            dd
                .title 待评价
            dd
                .title 退换货


    section.wallet
        h3 我的钱包
        dl
            dd
                a(href='#/beans')
                    .count #{mbeanCount}
                    .title 麻豆
            dd
                .count #{voucherCount}
                .title 优惠券
            dd
                a(href='#/integral/0')
                    .count #{totalGbPoint}
                    .title GB积分
            dd
                a(href='#/integral/1')
                    .count #{totalMcPoint}
                    .title MC积分


    section
        ul
            li
                a 收藏
            li
                a(href='#/address') 收货地址
            li
                a 联系客服
            li
                a 意见反馈



    //
        section
            ul
                li
                    a 云店
                li
                    a 微推广

    section
        ul
            li
                a 关于妈妈好

+footer_nav('account')