// 订单详情
include ../includes/let.pug
section.m-order-detail
    // 门店信息
    if detail.shopInfo
        ul.carry
            li
                em 门店名称：
                p #{detail.shopInfo.shopName}
            li
                em 门店地址：
                p #{detail.shopInfo.addr}
            li
                em 营业时间：
                p 工作日: #{detail.shopInfo.workTime}<br>节假日: #{detail.shopInfo.holiday}
            li
                em 联系方式：
                p
                    a(href='tel:#{detail.shopInfo.telephone}') #{detail.shopInfo.telephone}
            //- li
                em 送达时间：
                p 预计
                    time 17:30 点送达
    if detail.distributionInfo
        ul.carry
            li
                em 门店名称：
                p #{detail.distributionInfo.shopName}
            li
                em 配送人：
                p #{detail.distributionInfo.deliveryStaff}
                //-p #{detail.distributionInfo.addr}
            li
                em 预计送达时间：
                p #{detail.distributionInfo.text}
            li
                em 联系方式：
                p
                    a(href='tel:#{detail.distributionInfo.phone}') #{detail.distributionInfo.phone}
    // 收货人信息
    if detail.deliveryInfo
        .u-send
            dl
                dt
                    strong #{detail.deliveryInfo.deliveryName}
                    em #{detail.deliveryInfo.deliveryPhone}
                dd #{detail.deliveryInfo.deliveryAddr}
    // 订单商品信息
    .u-order
        each item in detail.data
            .item
                if item.shopName
                    .header #{item.shopName}
                        em 集团自营
                else if item.warehouseName
                    .header #{item.warehouseName}
                else
                    .header 妈妈好平台
                each goods in item.goodsList
                    .content.js-goods(data-infos={
                        itemId: goods.itemId,
                        templateId: goods.templateId,
                        shopId: item.shopId,
                        companyId: item.companyId
                    })
                        .pic
                            img(src=goods.itemPic)
                            if goods.refuseTitle
                                em #{goods.refuseTitle}
                        figure
                            figcaption #{goods.itemName}
                            if goods.spec.length
                                p
                                    each sp, index in goods.spec
                                        if index > 0
                                            | ,
                                        | #{sp.value}
                        dl
                            if goods.isGift
                                dt
                                    sub 赠品
                            else
                                dt ￥#{goods.itemPrice}
                                    if goods.oPrice && goods.oPrice != goods.itemPrice
                                        del ￥#{goods.oPrice}
                            dd x#{goods.quantity}
                            if goods.allowBuy
                                dd
                                    button.u-btn.checked.js-single-rebuy 再次购买
                            if(detail.orderStatus == 4 && detail.dealingType == 2 && goods.allowRefundMoney)
                                dd
                                    button.u-btn.js-btn-intercept(data-id=detail.orderNo,data-line-id=goods.orderLineId) 取消发货
    // 付款信息
    .info
        ul.sale
            each p in detail.price
                if p.name == '运费' || p.price != 0
                    li
                        em #{p.name}
                        span
                            if (p.name == '运费' && p.price == 0)
                                | 免运费
                            else if p.price != 0
                                //if (p.name != '运费' && p.name != '商品金额')
                                //    | - ￥#{p.price}
                                //else
                                | ￥#{p.price}

        dl.finally
            if (detail.orderStatus == 0 || detail.orderStatus == 6) && detail.dealingType == 2
                dt 实付款
            else
                dt 应付款
            dd ￥#{detail.payPrice}
        ol.number
            li 订单编号：#{detail.orderNo}
            li 下单时间：#{detail.createTime}
            li 订单状态：
                case detail.orderStatus
                    when 0
                        em 已完成
                    when 1
                        em 已失效
                    when 2
                        em 已取消
                    when 3
                        em 待付款
                    when 4
                        if detail.dealingType == 2
                            em 待发货(未付款)
                        else
                            em 待发货
                    when 5
                        if detail.dealingType == 2
                            em 待收货(未付款)
                        else
                            em 待收货
                    when 6
                        em 待评价
                    when 8
                        em 已删除
                    when 9
                        em 退款退货
            if detail.invoiceType && detail.invoiceType == 1
                li 个人发票：#{detail.invoceTitle}
            else if detail.invoiceType && detail.invoiceType == 2
                li 公司发票：#{detail.invoceTitle}
            if detail.pickShopName
                li 订单来源：#{detail.pickShopName}

    // 底导
    footer.footer
        if detail.orderStatus == 3 && detail.failureMillisecond <= 0
            dl
                dt
                    time 订单已失效，请重新生成。
        else
            dl
                if detail.orderStatus == 3 && detail.failureMillisecond > 0
                    dt
                        time.shot.js-countdown(data-seconds=detail.failureMillisecond,data-page-type=2)
                            span.minute 15
                            | 分
                            span.second 00
                            | 秒后订单失效
                else if detail.allowRefund && detail.orderStatus != 1 && detail.orderStatus != 3
                    dt.refund-explain
                        em 退款/退货说明
                dd
                case detail.orderStatus
                    when 0
                        if detail.isShowLogistics
                            a.u-btn(href='#/order/express/' + detail.orderNo) 查看物流
                    when 1
                        button.u-btn.js-btn-del(data-id=detail.orderNo) 删除订单
                    when 2
                        button.u-btn.js-btn-del(data-id=detail.orderNo) 删除订单
                    when 3
                        if detail.failureMillisecond <= 0
                            button.u-btn.ban 订单失效
                        else
                            button.u-btn.js-btn-cancel(data-id=detail.orderNo) 取消订单
                            button.u-btn.success.js-topay(data-order-no=detail.orderNo) 立即付款
                    when 4
                        if detail.deliveryId != 2
                            button.u-btn.js-btn-remind(data-id=detail.orderNo) 提醒发货
                    when 5
                        if detail.isShowLogistics
                            a.u-btn(href='#/order/express/' + detail.orderNo) 查看物流
                        if detail.dealingType == 2
                            if detail.payLockType
                                button.u-btn.success.js-btn-inspect(data-id=detail.orderNo) 重新付款
                            else
                                button.u-btn.success.js-btn-inspect(data-id=detail.orderNo) 验货付款
                        else
                            button.u-btn.success.js-btn-receive(data-id=detail.orderNo) 确认收货
                    when 6
                        if detail.isShowLogistics
                            a.u-btn(href='#/order/express/' + detail.orderNo) 查看物流
                        a.u-btn.checked(href='#/order/review/' + detail.orderNo) 评价晒单
                    when 8
                    default
                        | &nbsp;
                if detail.allowBuy
                    a.u-btn.success.js-footer-rebuy(href='javascript:;', data-order=detail.orderNo, data-number=detail.data.length) 再次购买
        .f-space

//- 取消原因弹窗
section.js-pop-causes
