//- 商品物流
mixin goodsLogistics(item)
    - var itemLen = item.goodsList.length;
    .u-order.express(class={more: itemLen > 1})
        .item.js-list
            // 商品列表
            each goods in item.goodsList
                .content.flex-center
                    .pic
                        img(src=goods.itemPic)
                    figure
                        figcaption #{goods.itemName}
                        p
                            if goods.spec
                                each sp, index in goods.spec
                                    if index > 0
                                        | ,
                                    | #{sp.value}
                    dl
                        dt
                            if goods.isGift
                                sub 赠品
                            else
                                | ￥#{goods.itemPrice}
                        dd x#{goods.quantity}

        if itemLen > 1
            .more-show(data-num = itemLen - 1)
                em 显示其余#{itemLen - 1}件

    .info
        dl.header
            dt 物流公司：#{item.platformName}
            dd 物流单号：#{item.waybillNumber}
        .record
            ol
                each info in item.data
                    li
                        p #{info.description}
                        time #{info.time}

//- 发票物流
mixin invoiceLogistic(item)
    .info
        if item.type == 0
            dl.header
                dt 物流公司：#{item.platformName}
                dd 物流单号：#{item.waybillNumber}
                dd 快递电话：#{item.telephone}
            .record
                ol
                    each info in item.data
                        li
                            p #{info.description}
                            time #{info.time}
        else
            dl.header
                dt #{item.platformName}
                dd 配送人员：#{item.pickName}
                dd 配送电话：#{item.telephone}


if logistics.length && invoiceLogistics.length
    .u-tab.ui-swipe-tab
        ul
            li.active 商品物流
            li 发票物流
    .ui-swipe.flex
        .ui-swipe-wrap
            .ui-swipe-item
                //- 商品物流
                each item in logistics
                    +goodsLogistics(item)

            .ui-swipe-item
                //- 发票物流
                each item in invoiceLogistics
                    +invoiceLogistic(item)

else if logistics.length
    //- 商品物流
    each item in logistics
        +goodsLogistics(item)

else if invoiceLogistics.length
    //- 发票物流
    each item in invoiceLogistics
        +invoiceLogistic(item)