extends ../layouts/initial.pug
block title
    title
        if shop
            | #{shop.shopName}
        else
            | 妈妈好
block meta
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
block css
    link(rel='stylesheet', href='http://s.mamhao.cn/m/v1/style/pay-code.css')
    style.
        html, body {height: 100%; overflow: hidden;}
        body {background: #f0f0f0;color: #333;}
block js
    script seajs.run('app/pay_code');
block content
    // 格式化款式数据;
    -function getSpec(a){var b=[],c=a.length,d=0;if(!c)return"";for(;c>d;d++)b.push(a[d].value);return b.join("，")};
    // 商品列表 #{shop.shopName}
    if isWeChat || isAlipay
        if status == 4
            // 等待
            section.m-code-block.m-code-wait.show
                .m-notice
                    .tip
                        span
                        dl
                            dt 订单正在生成中，请您耐心等待！
                            dd 待商家生成订单后，点击“刷新”即可付款
                    .form
                        a.u-btn.checked.js-code-reload(href='javascript:;') 刷新
                .m-service
                    a(href='javascript:;') 妈妈好平台提供支持
                    if shop && shop.posName
                        p #{shop.posName}
        else if status
            // 验证码
            section.m-code-block.m-code-verify.show
                .m-notice
                    .tip
                        span
                        dl
                            dt 终端请求频次过快，请输入验证码！
                    .form
                        .input
                            input(class="js-code", type='tel', placeholder='请输入验证码', maxlength='4')
                            img.js-image-vcode(src='http://s.mamhao.cn/common/images/placeholder-2.png')
                        .submit
                            a.u-btn.success.js-submit(href='javascript:;') 确定
                .m-service
                    a(href='javascript:;') 妈妈好平台提供支持
                    if shop && shop.posName
                        p #{shop.posName}
        else
            -if(isWeChat){var clas = "weixin";}else if(isAlipay){var clas = "alipay";}
            section.m-code-goods(class=clas)
                .content
                    .address
                        span #{shop.shopAddress}
                    .goods
                        ul.list
                            each goods in shop.goodsList
                                li
                                    dl.desc
                                        dt #{goods.itemName}
                                        dd #{getSpec(goods.spec)}
                                    dl.price
                                        dt ￥#{goods.itemPrice}
                                        dd x#{goods.quantity}
                        ol.total
                            //li
                            //    em 订单号
                            //    span #{orderNo}
                            li
                                em 商品金额
                                span ￥#{payPrice}
                    .warn
                        p 支付完成后，如需退款请及时联系商家
                        .m-service
                            a(href='javascript:;') 妈妈好平台提供支持
                            if shop && shop.posName
                                p #{shop.posName}
                .footer
                    .actual
                        | 实付
                        strong ￥#{payPrice}
                    .button
                        a.alipay.js-alipay(href='javascript:;') 支付宝付款
                        a.weixin.js-weixin(href='javascript:;') 微信安全支付
    else
        // 外部
        section.m-code-block.m-code-other.show
            .m-notice
                .tip
                    span
                    dl
                        dt 您的姿势不对哈！
                        dd 请使用以下APP扫码付款
                ul.app
                    li.alipay
                        a(href='alipays://') 支付宝
                    li.weixin
                        a(href='weixin://') 微信
                    li.mamahao
                        a(href='mamahao://') 妈妈好
            .m-service
                a(href='javascript:;') 妈妈好平台提供支持
                if shop && shop.posName
                    p #{shop.posName}

    // JS脚本;
    script.
        var VM = {
            orderNo: "#{orderNo}",
            status: "#{status}",
            openId: "#{openId}",
            shopId: "#{shop && shop.shopId}",
            isWeChat: #{isWeChat},
            isAlipay: #{isAlipay},
            isMamahao: #{isMamahao}
        };
