//- 商品详情
//- inlet(入口): 1.门店 2.妈豆尊享  3.预售  4.订单  5.口碑  6.类目 7.条形码
//- jsonTerm: {"templateId":"182972","itemId":"326588"}
include ../includes/let.pug
section.m-goods-detail.flex

    //- 商品主图
    if pic && pic.length
        #swipe-banner.ui-swipe(data-tab='#swipe-tab-banner')
            ol.ui-swipe-wrap
                each pic_url in pic
                    li.ui-swipe-item
                        img(data-original= pic_url + '@600w_100q.jpg', src=placeholderPic, data-share=pic_url)

            // 点点点
            .ui-swipe-tab#swipe-tab-banner(data-target='#swipe-banner')
                ul
                    each pic_circle, i in pic
                        li(class={active: i === 0})

            // 渐变蒙板
            .mask

    // 价格
    dl.price
        dt
            strong ￥#{price}
            if price < originalPrice
                del ￥#{originalPrice}
                em 直降
        dd
            if totalSaleCount
                span 已售#{totalSaleCount}件
            a(href='http://h5.mamahao.com/help/beans/')
                | 购买后可获得
                em #{getmBean}
                | 个妈豆
    // 标题
    dl.title
        dt
            strong.js-share-title #{title}
            sup 自营
            sub 实体店
        dd.js-share-desc #{subtitle}
    // 促销
    .sale
        // 优惠劵
        .coupon


        // 满减、赠品、套餐
        .promote


    // 好妈妈说
    .guide
        dl
            dd
                img(src='http://type-images.oss-cn-hangzhou.aliyuncs.com/' + specialistPhoto, alt='')
            dt #{specialistName}
        article.ellipsis
            strong 好妈妈说：
            | #{mamCare}
    // 配送信息
    .delivery
        dl.address.js-address
            dt 送至
            dd
                if paramsLocation.gpsAddr
                    p #{paramsLocation.gpsAddr}
                else
                    p #{paramsLocation.street}

                if isInStock
                    time
                        | 现在下单，预计
                        em
                            case deliveryTime.arriveType
                                when 0
                                    | 今日
                                when 1
                                    | 次日
                            if deliveryTime.arriveTime
                                | 的#{deliveryTime.arriveTime}前
                        if deliveryTime.isKuaidi
                            | 发货
                        else
                            | 送达
                else
                    time 所在区域缺货
        dl
            dt 运费
            dd
                p 订单总额不满#{formatPrice(mailPriceTerm)}元收取运费#{formatPrice(mailPrice)}元

        dl
            dt 服务
            dd
                p
                    | 由&nbsp;
                    span #{shop || '妈妈好'}
                    | &nbsp;发货并提供售后服务
                if goodsTag && goodsTag.length
                    ol
                        each tag in goodsTag
                            li
                                img(src= tag.pic, alt= tag.view)
                                | #{tag.view}

    // 选择地址 .show显示
    section.u-fixed.m-select-address.bottom
        .mask
        .content
            .title
                | 选择地址
                del.js-close
            .gps 定位到当前位置
            ul.list



    //- 质检担保
    if qualityPic && qualityPic.length
        .quality(data-pic=qualityPic)
            a.u-arrow.right(href='/goods#/quality/' + templateId) 质检担保

    // 门店
    if shop
        .shop
            a.u-arrow.right.flex-center(href='/store#/detail/' + shopInfo.shopId)
                .pic
                    img(src='http://bgo.mamhao.cn/' + shopInfo.shopPic + '@200w_100q.jpg', alt=shopInfo.shopName)
                dl
                    dt #{shop}
                    if shopInfo.distance
                        dd 距您#{formatDistance(shopInfo.distance)}

    // 商品详情
    .u-tab.max.ui-swipe-tab#swipe-tab-detail(data-target='#swipe-detail')
        ul
            li.active
                a(href='javascript:;') 图文详情
            li
                a(href='javascript:;') 商品参数
            li
                a(href='javascript:;') 商品口碑
        .f-space


    .ui-swipe#swipe-detail(data-tab='#swipe-tab-detail')
        .ui-swipe-wrap
            .ui-swipe-item
                // 图文详情
                .photo !{styleHtml}

            .ui-swipe-item
                // 商品参数
                .config


            .ui-swipe-item
                // 商品口碑
                .u-score
                    // 评分合计
                    .out

                    // 口碑列表
                    .list



// 加入购物车
.u-cart
    .content
        a.cart.js-goods-cart(href='/cart#/') 购物车
        .tools
            if isInStock
                button.u-btn.js-addToCart 加入购物车
                button.u-btn.success.js-buy 立即购买
            else
                button.u-btn.ban 所在区域缺货

// SKU
section.u-fixed.bottom.u-sku
    .mask
    .content
