extends layouts/layout
block title
    title 这是测试页面
block js
    script(src='http://gosspublic.alicdn.com/aliyun-oss-sdk-4.4.4.min.js')
    script seajs.run('app/test');


block css
    style.
        html{user-select: initial; -webkit-user-select: initial;}
        .ali-oss .opts {
            padding: 10px;
        }

        .ali-oss dl {
            padding: 2px 10px;
            counter-reset: dl;
        }

        .ali-oss dl dd {
            padding: 2px 10px;
            font-size: 12px;
        }

        .ali-oss dl dd:before {
            content: counter(dl) '. ';
            counter-increment: dl;
            color: #aaa;
        }

        .ali-oss .images img {
            width: 80px;
        }
        .cookie{ overflow: auto; white-space: pre-wrap; word-wrap: break-word;}
        select{ height: 60px;}

block content

    //h3 这是测试页面 id: #{id}, pid: #{pid}

    div.ali-oss
        p.opts
            button.u-btn.success.js-ali-oss 点击测试 ali-oss
        p
            //-button.u-btn.js-add-cookie 写入cookie
            button.u-btn.js-location-cookie 读取mmh_app_location
            button.u-btn.js-get-cookie 读取mmh_app_location并解密

        p.opts
            input.js-upload(type='file',value='请选择文件',multiple)
        dl.images
        dl.buckets
        dl.files
        .js-select-gps 选择地址
        dl
            dt isMamahao：
            dd #{isMamahao}
        dl
            dt node-mmh_app_user_info：
            dd.cookie #{userInfo}
        dl
            dt node-mmh_app_location：
            dd.cookie #{location}
        dl
            dt js-mmh_app_location：
            dd.cookie.js-location
        dl
            dt query d：
            dd.query #{d}
        dl
            dt query b：
            dd.query #{b}

        dl
            dt cookie
            dd
                each val, key in cookies
                    p.cookie #{key}: #{val}

        select.babyGender(multiple="multiple" size="1")
            option(value=-1) 请选择宝宝性别
            option(value=1) 王子
            option(value=2) 公主
            option(value=1) 王子
            option(value=2) 公主
            option(value=1) 王子
            option(value=2) 公主






